* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;

}

body {
    background: linear-gradient(237.25deg, rgba(239, 93, 168, 0.15) 4.16%, rgba(96, 93, 239, 0.25) 88%) fixed;

}

.container {
    padding: 35px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    border-left: 1px solid #FFFFFF;
    box-shadow: 4px 11px 15px 6px rgba(0, 0, 0, 0.32);
    border-radius: 35px;
    margin-top: 35px;
}

form {
    padding: 32px 0;
    text-align: center;
}

form h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

input,
button {
    padding: 0 32px;
    font-size: 24px;
    border-radius: 20px;
    border: none;
    background-color: white;
}

button {
    cursor: pointer;
    font-weight: 400;
    transition: all ease .4s;
}

button:hover {
    background-color: #8b44ce;
color: #FFFFFF;
}

input {
margin: 0 15px;
}

ul li {
    display: flex;
    font-size: 24px;
    justify-content: center;
    padding: 0 16px;
}

.lista-de-tarefas {
    background-color: #5D5FEF;
    border-radius: 20px;
    opacity: 0.33;
    padding: 20px;
}

li {
    background-color: #FFFFFF;
    margin: 25px;
    border-radius: 23px;
    cursor: pointer;
        transition: all ease .4s;
}

li:hover {
    background-color: #83299e;
    color: #FFFFFF;
    transition: all ease .4s;
}


.item-completado {
    text-decoration: line-through; 
}